<p class="lead">All Posts</p>
<hr/>
<% @post.each do |post| %>
  <div class="row">
    <div class="span8 well">
    <%= link_to post.title, "http://#{post.url}" %>
    <p><small><%= post.description %></p></small>  
    </div>
  </div>
<% end %>