<p class="lead">All Categories</p>
<hr/>

<form action='/categories/new' method='get'>
  <input type='submit' value='New Category' class="btn btn-primary">
</form>



<div class='well'>
  <ul>
    <% @category.each do |category| %>
    <li><%= category.name %></li>
    <% end %>
  </ul>
</div>